{% extends 'base.html'%}

{% block head %}
<title>Thot Patrol</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
{% endblock %}

{% block body %}
<!-- <div class="content" style="text-align: center;">
    <h1>Thot Generator 2.0</h1>

    <form action="/" method="POST">
        <input type="submit" name="content" id="submit" value="Thotify Me">
    </form>

    <div id="container">
        <video autoplay="true" id="videoElement">
        
        </video>
    </div>
</div> -->

<div class = "container" style="text-align: center;">
    <div class = "starter-template">
        <h1>Thot Detector 2.0</h1>
        <p class = "lead"> This is a Thot Patrol(TM) checkpoint. Please upload an image of yourself. </p>
        <p> Face detection using <a href="https://docs.opencv.org/2.4/modules/objdetect/doc/cascade_classification.html" target="blank"> Cascade Classification </a> | Powered by Python, Flask, OpenCV </p>
        <p> Image size limit: 2 MB </p>
        <p> By Darren Yau - Nov, 2019 </p>
    </div>
</div>

<header class="navbar">
    <form action="/upload" method="post" enctype="multipart/form-data" >
        <div align="center">
            <label class="btn btn-default btn-file">
                Browse <input type="file" name="image" style="display: none;">
            </label>
            <input type="submit" value="Upload your image" class="btn btn-primary">
        </div>
    </form>
</header>

<div style="text-align: center;">
    {% if init %}
        {% if face_detected %}
            <div class="alert alert-success" style="margin-top:18px;">
                <strong>Thot detected!</strong>
            </div>
            {% if image_to_show %}
                <div>
                    <img src="{{ image_to_show }}" class="center">
                </div>
            {% endif %}
        {% else %}
            <div class="alert alert-danger" style="margin-top:18px;">
                <strong>No thot detected!</strong> You are good.
            </div>
        {% endif %}
    {% endif %}
</div>


<!-- <script src="{{url_for('static', filename='displayCameraFeed.js')}}">
</script> -->
{% endblock %}
