{% extends 'base.html'%}

{% block head %}
<title>Thot Patrol</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://emoji-css.afeld.me/emoji.css">
{% endblock %}

{% block body %}
<!-- <div class="content" style="text-align: center;">
    <h1>Thot Generator 2.0</h1>

    <form action="/" method="POST">
        <input type="submit" name="content" id="submit" value="Thotify Me">
    </form>

    <div id="container">
        <video autoplay="true" id="videoElement">
        
        </video>
    </div>
</div> -->

<div class = "container" style="text-align: center;">
    <div class = "starter-template">
        <h1><i class="em em-bangbang" aria-role="presentation" aria-label="DOUBLE EXCLAMATION MARK"></i>Thot Detector 2.0<i class="em em-bangbang" aria-role="presentation" aria-label="DOUBLE EXCLAMATION MARK"></i></h1>
        <p class = "lead"> This is a Thot Patrol&#174; checkpoint <i class="em em-checkered_flag" aria-role="presentation" aria-label="CHEQUERED FLAG"></i>
            - Please upload an image of yourself <i class="em em-clap" aria-role="presentation" aria-label="CLAPPING HANDS SIGN"></i></p>
        <p> Face detection using <a href="https://docs.opencv.org/2.4/modules/objdetect/doc/cascade_classification.html" target="blank"> Cascade Classification </a> 
            | Powered by Python, Flask, OpenCV, MongoDB </p>
        <p> Image size limit: 2 MB </p>
        <p> By Darren Yau - Nov, 2019 </p>
    </div>
</div>

<header class="navbar" align="center">
    <form action="/upload" method="post" enctype="multipart/form-data" >
        <div align="center">
            <label class="btn btn-default btn-file">
                Browse <input type="file" name="image" style="display: none;">
            </label>
            <input type="submit" value="Upload your image" class="btn btn-primary">
        </div>
    </form>
    <form action="/mostwanted" method="get" >
        <div align="center">
            <input type="submit" value="See Wanted Thots" class="btn btn-danger">
        </div>
    </form>
</header>

<div style="text-align: center;">
    {% if init_upload %}
        {% if face_detected %}
            <div class="alert alert-success" style="margin-top:18px;">
                <strong>Thot detected!</strong> <i class="em em-face_with_symbols_on_mouth" aria-role="presentation" aria-label="SERIOUS FACE WITH SYMBOLS COVERING MOUTH"></i>
            </div>
            {% if image_to_show %}
                <div>
                    <img src="{{ image_to_show }}" class="center">
                </div>
            {% endif %}
        {% else %}
            <div class="alert alert-danger" style="margin-top:18px;">
                <strong>No thot detected!</strong> You are good. <i class="em em-100" aria-role="presentation" aria-label="HUNDRED POINTS SYMBOL"></i>
            </div>
        {% endif %}
    {% endif %}
    {% if init_mostwanted %}
        {% if has_data %}
            <div class="alert alert-info" style="margin-top:18px;">
                    <strong>Be careful of these local thots!</strong> <i class="em em-gun" aria-role="presentation" aria-label="PISTOL"></i>
            </div>
            {% if wanted_image %}
                <div>
                    <img src="{{ wanted_image }}" alt="Error" class="center">
                </div>
            {% endif %}
        {% else %}
            <div class="alert alert-success" style="margin-top:18px;">
                <strong>No thots in your local area!</strong> Stay safe citizen. <i class="em em-white_check_mark" aria-role="presentation" aria-label="WHITE HEAVY CHECK MARK"></i>
            </div>
        {% endif %}
    {% endif %}
</div>

<!-- <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

<script>
    $(document).ready(function() {

    });
</script> -->

<!-- <script src="{{url_for('static', filename='displayCameraFeed.js')}}">
</script> -->
{% endblock %}
